
*{
    margin: 0;
    padding: 0;
   
}



body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: #e6bc91;
    overflow-x: hidden;
}


div.container{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.header{
    width: 98%;
    height: 80vh; 
    /* border: 1px solid red; */
    /* display: block;
    justify-content: center;
    align-items: center; */
    background-image: url('125hub.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Ensures it covers the header */
    background-position: center; /* Centers the image */
    

}


@media(max-width:600px){

    body{
        overflow-x: hidden;
    }

    div.header{
        width: 100%;
        height: 55vh;
        background-position: 41% top;
    }
}



div.icon{
    display: flex;
    justify-content: flex-start;
}

h1[type='logo']
{
    margin: 1vw;
    
}

div.navbar{
    display: flex;
    justify-content: flex-end;

}

div.navbar ul{
display: flex;
gap: 1vw;
margin-top: -3vw;
margin-right: 1vw;
}

div.navbar li{
    display: flex;
}

div.navbar ul a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #e6bc91;
}

div.navbar ul a:hover{
text-decoration: line-through;
}

div.navbar a[type='home']
{
    text-decoration: line-through;
} 

div.hamburger{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

div.hamburger i{
    display: none;
}

@media (max-width:600px) {
 h1[type='logo']{
    font-size: 3.5vw;
    margin-top: 3vw;
    
 }

    div.navbar ul{
        display:none;
    }
    div.hamburger i{
        display: block;
        font-size: 6vw;
        margin-top: -5vw;
        margin-right: 3vw;
        font-weight: thick;
    }
  

}

div.main-headings{
    display: flex;
    flex-direction: column;
    margin-top:1vw;
    margin-left: 19vw;

}

h1[type='pehla']{
    font-weight: normal;
} 

h1[type='dosra']{
    font-size: 7vw;
} 

@media (max-width:600px)
{   
div.main-headings{
    margin-top:2vw;
    margin-left: 5vw;
}

 h1[type='pehla']{
        font-weight: normal;
        font-size: 5vw;
        position: relative;
        top: 7vw;
    }  

    h1[type='dosra']{
        font-weight: bold;
        font-size: 10vh;
        position: relative;
        top: 19vw;
        font-size: 15vw;
        
    } 
    
    h1[type='logo']{
    position: relative;
    right: -4vw;
    top: 3vw;
    }

}

div.head-button{
display: flex;
justify-content: center;
align-items: center;
margin-left: -43vw;
margin-top: 2vw;
}

button[type='browse-suits']{
width: 12%;
height: 8vh;
background: none;
border:0.12vw solid #e6bc91;
border-radius:0.1vw ;
color: white;
font-weight:normal;
font-size: 0.9vw;
}

button[type='browse-suits']:hover{
    border-color: white;
}

@media (max-width:600px)
{
    div.head-button{ 
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 80px; /* or a smaller percentage */
      } 
      button[type='browse-suits']{
        width: 50%;
        height: 8vh;
        background: none;
        border:0.5vw solid #e6bc91;
        border-radius:0.1vw ;
        color: white;
        font-weight:thin;
        font-size: 5vw;
        margin-right: -100px;
        }
      
}


/* @media(min-width:540px)
{
    div.header{
        width: 100%;
        height: 80vh;
        background-position: 41% top;
    }
}

@media(max-width:344px)
{
    div.header{
        width: 100%;
        height: 50vh;
        background-position: 45% top;
    }
}


@media(min-width:406px){
    div.header{
        width: 100%;
        height: 80vh;
        background-position: 41% top;
    }

    button[type='browse-suits']{
        position: relative;
        top: 10vw;
    }
} */

/* 
From here we start a hero section
*/

div.hero-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.hero1{
    width: 97%;
    height: 100%;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
}


div.hero1 div.h1{
    width: 30%;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

div.hero1 .h1{
font-weight: normal;
}

div.hero1 div.h2{
    width: 43%;
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}
div.hero1 .h2{
    color:#373F51;
    font-size: 2.5vw;
    font-family: Arial, Helvetica, sans-serif;
}

div.para{
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}


div.hero1 .p{
    color:#616b83;
    font-size: 1.1vw;
    max-width: 480px; 
    line-height: 1.2; 
 
}













div.hero2-container{
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}


div.hero2{
    width: 97%;
    height: 90vh;
    border-top: 0.4vw solid #EEEEEE;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hero2 img{
width: 50%;
height: 70vh;
}


@media (max-width:600px)
{
    div.hero1{
        width: 97%;
        height: 43vh;
    }   

    div.hero1 div.h1{
        width: 30%;
        height: 5vh;
    }
    div.hero1 .h1{
        font-size:5vw;
        }
        
        div.hero1 div.h2{
            width: 43%;
            margin: 3vw;
            height: 9vh;
            
        }
        div.hero1 .h2{
            font-size: 8vw;
        }
        
        div.hero1 div.para{
            width: 80%;
            justify-content: flex-start;
            margin: 3vw;
        }

        div.hero1 .p{
            font-size:3.5vw;
            max-width: 1440px; 
            line-height: 1.8;
            
          
        }
        div.hero2{
            height: 35vh;
        }
        div.hero2 img{
            width: 90%;
            height: 30vh;
        }
}



div#hero3{
    width: 97%;
    height: 100%;
    border-top: 0.4vw solid #EEEEEE;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
}


div#hero5{
    width: 97%;
    height: 100%;
    border-top: 0.4vw solid #EEEEEE;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
}






div.hero4-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.hero4{
    width: 97%;
    height: 100%;
    border-top: 0.4vw solid #EEEEEE;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


div.hero4 div.img1 img,div.img2 img,div.img3 img{
    width: 100%;
    height: 36vh;
}

div.hero4 div.img1 a,div.img2 a,div.img3 a{
    text-decoration: none;
    text-align: center;
    font-size: 2vw;
    color: #616b83;
}


div.a1,div.a2,div.a3{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:600px)
{
    div.hero4 div.img1 a,div.img2 a,div.img3 a{
        font-size: 10vw;
        
    }
}

div.map-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.maper{
    width: 97%;
    height: 100%;
    border-top: 0.4vw solid #EEEEEE;
    border-right: 0.4vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.4vw solid #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.maper iframe{
  width: 80%; /* Full width on mobile */
  height: 70vh;
  border: 1px solid #ddd; /* Optional border for styling */
}


div.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.footer{
    width: 97%;
    height: 100%;
    border-top: 0.2vw solid #EEEEEE;
    border-right: 0.2vw solid #EEEEEE;
    border-bottom: 0.2vw solid #EEEEEE;
    border-left: 0.2vw solid #EEEEEE;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

div.footer div.p1,div.p2{
    color: #68738b;
    font-size: 1.2vw;
}

@media (max-width:600px){
    div.maper iframe{
        width: 80%; /* Full width on mobile */
        height: 30vh;
      }

      div.footer div.p1,div.p2{
        color: #68738b;
        font-size: 3.2vw;
        max-width: 200px;
        line-height: 1.5;
    }
}